.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 263px;
  height: 100%;
  background: #f2f5f9;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 15px 0;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
}

.sidebar nav ul li svg {
  margin-right: 10px;
}

.sidebar nav ul li:hover,
.sidebar nav ul li.active {
  background-color: #5d8fef;
  color: #f2f5f9;
}

.main-content {
  flex-grow: 1;
  padding: 10px;
  background-color: #fff;
  border-top-left-radius: 40px;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.user-info {
  width: 273px;
  height: 70px;
  background: #f2f5f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-info p {
  margin: 0;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.stat-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.stat-box p {
  font-size: 54px;
  margin-bottom: 10px;
}

.stat-box button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.stat-box button:hover {
  background-color: #0056b3;
}
.card {
  border: none;
  height: 100vh;
  border-radius: 10px;
  padding: 50px;
  background: #f2f5f9;
}
.menu-text {
  margin-left: 10px;
}
